@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
body{
    min-height: 100dvh;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background: url("https://i.redd.it/grab-some-cool-wallpapers-hope-you-like-it-v0-g6picsfg6nvc1.jpg?width=3840&format=pjpg&auto=webp&s=4c5122266bfc4b81578e73c963da1a2cfbd28d7d");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
ul{
    margin-left: 2rem;
}
article{
    margin-bottom: 30px;

}

h2{
    margin-bottom: 7.5px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

section{
    background-color: rgb(0, 0, 0, 0.65);
    padding: 5%;
    outline: groove;
    outline-width: 5px;
    outline-offset: 5px;
    outline-style: inset;
    outline-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
}
a:link{
    color: rgb(77, 172, 255);
}

a:visited{
    color: rgb(166, 112, 247);
}

a:hover{
    color: rgb(20, 95, 160);
}

a{
    text-decoration: none;
}

p{
    line-height: 25px;
}